@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-5 text-center mt-4 glass-panel p-5">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p>
            Please check your email to reset your password.
        </p>
        <small class="text-sm text-gray-500 mt-2">Note: It might be in your Spam or Junk folder.</small>
    </div>
</div>