@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-5 text-center mt-4 glass-panel p-5">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <p>Please check your email to confirm your account.</p>
                <small class="text-sm text-gray-500 mt-2">Note: It might be in your Spam or Junk folder.</small>
            </div>
        </div>


    }
}

